<div class="container">
  <!-- Menu principal -->
  <div class="row g-0 align-items-stretch justify-content-center my-5">
    <div
      class="col-12 col-md-4 col-lg-4 p-3 gap-5 d-flex align-items-center justify-content-center"
      style="min-height: 350px"
    >
      <app-tarjeta-boton
        [titulo]="'Dueños'"
        [icono]="'🧑'"
        [descripcion]="'Gestiona la información de los dueños.'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
      ></app-tarjeta-boton>
      <app-tarjeta-boton
        [titulo]="'Mascotas'"
        [icono]="'🐶'"
        [descripcion]="'Gestiona la información de los pacientes.'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
      ></app-tarjeta-boton>
      <app-tarjeta-boton
        [titulo]="'Historial Médico'"
        [icono]="'📝'"
        [descripcion]="'Consulta la información de los pacientes.'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
      ></app-tarjeta-boton>
    </div>
  </div>

  <!-- Dueños-->

  <!-- Mascotas-->
</div>
