<div class="container paciente-responsive">
  @switch (vistaActual) { @case (0) {
  <!-- Menu principal -->
  <ng-container *ngTemplateOutlet="menuPrincipal"></ng-container>
  } @case (1) {
  <!-- Gestión de Dueños -->
  <app-gestor-dueno (volverMenu)="cambiarVista($event)"></app-gestor-dueno>
  } @case (2) {
  <!-- Gestión de Mascotas -->
  <app-gestor-mascota></app-gestor-mascota>
  } @case (3) {
  <!-- Historial Médico -->
  <app-historial-mascota></app-historial-mascota>
  } }
</div>

<ng-template #menuPrincipal>
  <!-- Menu principal -->
  <div class="row g-0 align-items-stretch justify-content-center my-5 paciente-menu-row">
    <div
      class="col-12 col-md-10 col-lg-8 p-3 gap-4 d-flex flex-wrap align-items-center justify-content-center paciente-menu-col"
      style="min-height: 350px"
    >
      <app-tarjeta-boton
        [titulo]="'Dueños'"
        [icono]="'🧑'"
        [descripcion]="'Gestiona la información de los dueños.'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
        (clickTarjeta)="cambiarVista(1)"
      ></app-tarjeta-boton>
      <app-tarjeta-boton
        [titulo]="'Mascotas'"
        [icono]="'🐶'"
        [descripcion]="'Gestiona la información de los pacientes.'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
        (clickTarjeta)="cambiarVista(2)"
      ></app-tarjeta-boton>
      <app-tarjeta-boton
        [titulo]="'Historial Médico'"
        [icono]="'📝'"
        [descripcion]="'Consulta la información de los pacientes.'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
        (clickTarjeta)="cambiarVista(3)"
      ></app-tarjeta-boton>
    </div>
  </div>
</ng-template>
