<div class="container">
  <!-- Menu principal -->
  <div class="row g-0 align-items-stretch justify-content-center my-5">
    <div
      class="col-12 gap-5 p-5 d-flex align-items-center justify-content-center"
      style="min-height: 350px"
    >
      <app-tarjeta-boton
        [titulo]="'Consultas y servicios'"
        [icono]="'🏥'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
      ></app-tarjeta-boton>
      <app-tarjeta-boton
        [titulo]="'Productos y Medicamentos'"
        [icono]="'💊'"
        [colorFondo]="'#E0F7FA'"
        [colorBoton]="'#00796B'"
      ></app-tarjeta-boton>
    </div>
  </div>
</div>
