<div class="dashboard-layout">
  <app-sidebar
    [sidebarCollapsed]="sidebarCollapsed"
    [isAdminGlobal]="isAdminGlobal"
    [adminMenuOpen]="adminMenuOpen"
    [proyectos]="proyectos"
    [proyectosMenuOpen]="proyectosMenuOpen"
    [getComponentesProyecto]="getComponentesProyecto"
    [isProyectoMenuOpen]="isProyectoMenuOpen"
    (toggleSidebarEvent)="toggleSidebar()"
    (toggleAdminMenuEvent)="toggleAdminMenu()"
    (toggleProyectoMenuEvent)="toggleProyectoMenu($event)"
  ></app-sidebar>
  <main class="dashboard-content">
    <router-outlet #outlet="outlet"></router-outlet>   
    @if(userName !== null && isAdminGlobal !== null){
    <ng-container *ngIf="!outlet.isActivated">   
      <app-home [isAdminGlobal]="isAdminGlobal" [userName]="userName"></app-home>
    </ng-container>
      }
  </main>
</div>