<div class="modal-backdrop-custom"></div>
<!-- Modal de cita veterinaria -->
<div class="modal show d-block" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title">Nueva cita</h5>
        <button type="button" class="btn-close" aria-label="Cerrar" (click)="close.emit()"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body pastel-bg">
          <div class="row g-4">
            <div class="col-md-6">
              <div class="row mb-3">
                <div
                  class="col pastel-card d-flex flex-column align-items-center py-2 mx-1 shadow-sm"
                >
                  <span class="fs-4" title="Fecha">📅</span>
                  <span class="fw-semibold text-secondary">Fecha</span>
                  <span class="mt-1 text-dark text-center">{{
                    form.get('fecha')?.value | date: 'longDate'
                  }}</span>
                </div>
                <div
                  class="col pastel-card d-flex flex-column align-items-center py-2 mx-1 shadow-sm"
                >
                  <span class="fs-4" title="Hora inicio">⏰</span>
                  <span class="fw-semibold text-secondary">Inicio</span>
                  <span class="mt-1 text-dark">{{ form.get('horaInicio')?.value }}</span>
                </div>
                <div
                  class="col pastel-card d-flex flex-column align-items-center py-2 mx-1 shadow-sm"
                >
                  <span class="fs-4" title="Hora fin">🕓</span>
                  <span class="fw-semibold text-secondary">Fin</span>
                  <span class="mt-1 text-dark">{{ form.get('horaFin')?.value }}</span>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col form-group">
                  <label for="tipo">Tipo</label>
                  <select id="tipo" formControlName="tipo" required class="form-select">
                    <option value="" disabled selected>Seleccione tipo de cita</option>
                    <option *ngFor="let tipo of tipoCitaOptions" [value]="tipo.value">
                      {{ tipo.label }}
                    </option>
                  </select>
                </div>
                <div class="col form-group">
                  <label for="estado">Estado</label>
                  <select id="estado" formControlName="estado" required class="form-select">
                    <option value="" disabled selected>Seleccione un estado</option>
                    <option *ngFor="let estado of estadoCitaOptions" [value]="estado.value">
                      {{ estado.label }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="notas">Notas</label>
                <textarea id="notas" formControlName="notas" class="form-control"></textarea>
              </div>
            </div>
            <div class="col-md-6 d-flex flex-column gap-4 justify-content-between h-100">
              <div class="form-group">
                <app-mascota-selector
                  [duenos]="duenos"
                  [mascotas]="mascotas"
                  (mascotaSeleccionada)="form.get('mascotaId')?.setValue($event.id)"
                  class="mascota-selector pastel-card"
                ></app-mascota-selector>
              </div>
              <div class="form-group">
                <app-veterinario-selector
                  [veterinarios]="veterinarios"
                  (veterinarioSeleccionado)="form.get('veterinarioId')?.setValue($event.id)"
                  class="veterinario-selector pastel-card"
                ></app-veterinario-selector>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer p-1 m-0">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
